<div class="prose p-12">
    <h2 class="mb-8 text-8xl">HTTP Headers</h2>
    <p class="text-6xl p-4 font-semibold mb-0">HTTP Headers can control HTMX</p>
    <div class="grid grid-cols-2">
        <ul>
            <li class="text-4xl">HX-Trigger</li>
            <li class="text-4xl">HX-Target</li>
            <li class="text-4xl">HX-Select</li>
            <li class="text-4xl">HX-Get</li>
            <li class="text-4xl">HX-Post</li>
            <li class="text-4xl">HX-Put</li>
            <li class="text-4xl">HX-Delete</li>
            <li class="text-4xl">HX-Patch</li>
            <li class="text-4xl">HX-Request</li>
        </ul>
        <ul>
            <li class="text-4xl">HX-Include</li>
            <li class="text-4xl">HX-Exclude</li>
            <li class="text-4xl">HX-Params</li>
            <li class="text-4xl">HX-Timeout</li>
            <li class="text-4xl">HX-Indicator</li>
            <li class="text-4xl">HX-Animation</li>
            <li class="text-4xl">HX-Boost</li>
            <li class="text-4xl">HX-Select</li>
            <li class="text-4xl">HX-Target</li>
        </ul>
    </div>
</div>
