<div class="prose p-12">
    <h2 class="mb-8 text-8xl">HTTP Headers</h2>
    <p class="text-6xl p-4 font-semibold mb-0">HTTP Headers can control HTMX</p>
    <div class="grid grid-cols-2">
        <ul>
            <li class="text-4xl font-semibold">Request Headers</li>
            <li class="text-4xl">HX-Boosted</li>
            <li class="text-4xl">HX-Target</li>
            <li class="text-4xl">HX-Current-URL</li>
            <li class="text-4xl">HX-History-Restore-Request</li>
            <li class="text-4xl">HX-Prompt</li>
            <li class="text-4xl">HX-Request</li>
            <li class="text-4xl">HX-Target</li>
            <li class="text-4xl">HX-Trigger-Name</li>
            <li class="text-4xl">HX-Trigger</li>
        </ul>
        <ul>
            <li class="text-4xl font-semibold">Response Headers</li>
            <li class="text-4xl">HX-Location</li>
            <li class="text-4xl">HX-Push-Url</li>
            <li class="text-4xl">HX-Redirect</li>
            <li class="text-4xl">HX-Replace-Url</li>
            <li class="text-4xl">HX-Reswap</li>
            <li class="text-4xl">HX-Retarget</li>
            <li class="text-4xl">HX-Reselect</li>
            <li class="text-4xl">HX-Trigger</li>
            <li class="text-4xl">HX-Trigger-After-Settle</li>
            <li class="text-4xl">HX-Trigger-After-Swap</li>
        </ul>
    </div>
</div>
