<div class="prose p-12">
    <h2 class="mb-8 text-8xl">Hypermedia & HTML</h2>
    <ul>
        <li class="text-6xl font-semibold">Today, HTML is a partial Hypermedia</li>
        <li class="text-6xl">
            Hypermedia Elements:
            <ol>
                <li class="text-5xl">Links - &lt;a&gt;</li>
                <li class="text-5xl">Forms - &lt;form&gt;</li>
                <li class="text-5xl">Frames - &lt;iframe&gt;</li>
            </ol>
        </li>
        <li class="text-6xl">Events - click, submit</li>
        <li class="text-6xl">Methods - get, post</li>
    </ul>
</div>
