<div class="prose p-12">
    <h2 class="text-8xl mb-4">Hypermedia ( Hypertext )</h2>
    <p class="text-6xl font-semibold">
        A nonlinear medium of information that includes graphics, audio, video, plain text and hyperlinks.
    </p>
    <ul>
        <li class="text-5xl">1963 Hypertext Editing System - Brown University</li>
        <li class="text-5xl">1987 HyperCard - Apple</li>
        <li class="text-5xl">1990 HTML 1.0 Links</li>
        <li class="text-5xl">1995 HTML 2.0 Forms</li>
        <li class="text-5xl">1996 IFRAME - Internet Explorer</li>
        <li class="text-5xl">1999 XMLHTTP - Microsoft</li>
        <li class="text-5xl">2006 XHR W3C Standard</li>
    </ul>
</div>
