<div class="prose p-12">
    <h2 class="mb-8 text-8xl">Q&A</h2>
    <div class="grid grid-cols-2">
        <div>
            <img src="/static/htmx-logo.png" width="400px">
            <img src="/static/hypermedia-systems.png" width="400px">
        </div>
        <div>
            <ul>
                <li class="text-6xl">
                    <a class="link" href="htmx.org">htmx.org</a>
                </li>
                <li class="text-6xl">
                    <a class="link" href="https://hypermedia.systems/">HyperMedia Systems</a>
                </li>
                <li class="text-6xl">
                    <a class="link" href="https://htmx.org/essays/">Articles and Memes</a>
                </li>
                <li class="text-6xl">
                    <a class="link" href="https://acumity.com">Acumity.com</a>
                </li>
            </ul>
        </div>
